*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --grid-cols: 16;
    --grid-rows: 16;
  }

#container{
    display: grid;
    grid-gap: 0;
    column-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    margin: 0 auto;
    max-width: fit-content;
}

.grid-item {
    /*padding: 1em;*/
    border: 1px solid #ddd;
    text-align: center;
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .grid-item:hover {
      background-color: lightblue;
  }
